div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:auto;
}

@media (max-width:767px) and (min-width:480px)  {
    header div {
        width: 480px;
        height: 75px;
        background-color: rgb(223, 23, 23);
       
        
    }
    /* #content > div:first-of-type { /* css  */
    main>div:nth-child(1){
        width: 480px;
        height: 150px;
        background-color: rgb(48, 107, 122); 
     
    }
    main>div:nth-child(2){
        width: 480px;
        height: 125px;
        background-color: rgb(114, 219, 82); 
        
    }
    main>div:nth-child(3){
        width: 480px;
        height: 125px;
        background-color: rgb(69, 37, 121); 
        overflow:auto;
    }
    main>div:nth-child(4){
        width: 240px;
        height: 250px;
        background-color: rgb(180, 29, 29); 
        float: left;
       
    }
    main>div:nth-child(5){
        /* clear: both; */
        width: 240px;
        height: 250px;
        background-color: rgb(171, 173, 23); 
        /* float: left; */
      
    }
    main>div:nth-child(6){
        clear: both;
        width: 240px;
        height: 250px;
        background-color: rgb(74, 48, 133); 
        float: left;
       
    }
    main>div:nth-child(7){
        width: 240px;
        height: 250px;
        background-color: rgb(235, 12, 41); 
        float: left;
       
    }
    
    footer div{
        clear: both;
        width: 480px;
        height: 80px;
        background-color:rgb(114, 219, 82);
       
    }
    /* .menu, .main, .right {
      width:100%;
    } */
  }

