
header{
    height: 14.28%;
}
   header>div{
    width: 100%;
    height:100% ;
    background-color: mediumvioletred;
}

    main{
            display: grid;
            grid-template-columns: 20.83% 1fr ;
            height: 100%
            /* height: calc(100% - 140px); */
       
    }

 
  main>.sidbar{
     
   order: 1;
   background-color: midnightblue;
  }

  main>#content{
      order: 2;
      display: grid;
      grid-template-rows: 33.33% 33.33% 1fr;
  }
  .sec1{
    display: grid;
    grid-template-columns:1fr 1fr; 
  }
  .sec1:nth-child(1){
      
      background-color: olive;
  }
  .test{
      background-color:red;
  }
  
  .sec2{
    display: grid;
    grid-template-columns:25% 25% 25% 25%; 
  }

  .sec21{
      background-color: rosybrown;
  }
  .sec22{
      background-color: royalblue;
  }
  .sec23{
      background-color: slategray;
  }
  .sec24{
      background-color: tan;
  }

  .footer{
      background-color: yellow;
  }